@charset "UTF-8";

@import "lib/variables";
@import "lib/prefixes";
        
.editormd {
    width: 90%;
    height: 640px;
    margin: 0 auto;
    text-align: left;
    overflow: hidden;  
    position: relative;
    margin-bottom: 15px;
    border: 1px solid $borderColor;
    @include box-sizing(border-box);
    font-family: "Microsoft YaHei", "微软雅黑", Helvetica, Tahoma, STXihei, "华文细黑", STHeiti, "Helvetica Neue", Helvetica, Tahoma, "Droid Sans", "wenquanyi micro hei", FreeSans, Arimo, Arial, SimSun, "宋体", Heiti, "黑体", sans-serif; 
    
    a {
        text-decoration: none;
    }

    img {
        border: none;
        vertical-align: middle;
    }            

    > textarea,
    #{$prefix}html-textarea,
    #{$prefix}markdown-textarea {
        width: 0;
        height: 0;
        outline: 0;
        resize:none;
    }
    
    #{$prefix}html-textarea,
    #{$prefix}markdown-textarea {
        display : none;
    }

    input[type="text"], 
    input[type="button"], 
    input[type="submit"], 
    select, textarea, button {
        @include appearance(none);
    }
}
            
#{$prefix}user-unselect { 
    @include user-select(none); 
}

#{$prefix}toolbar {
    width: 100%;
    min-height: 35px;
    background: #fff;
    display: none;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;
    border-bottom: 1px solid $borderColor;
}

#{$prefix}toolbar-container {
    padding: 0 8px;
    min-height: 35px;
    @include user-select(none);
}

@import "editormd.menu";

#{$prefix}container {
    margin: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 35px 0 0;
    position: relative;   
    background: #fff;
    @include box-sizing(border-box);
}

@import "editormd.dialog"; 
@import "editormd.grid"; 
@import "editormd.tab"; 
@import "editormd.form"; 
@import "editormd.codemirror"; 
@import "editormd.preview";

#{$prefix}preview-close-btn {
    color: #fff;
    padding: 4px 6px;
    font-size: 18px;
    @include border-radius(500px);
    display: none;
    background-color: #ccc;
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 19;
    @include transition(background-color 300ms ease-out);
}

#{$prefix}preview-close-btn:hover {
    background-color: #999;
}

#{$prefix}onlyread {
    #{$prefix}toolbar {
        display: none;
    }

    .CodeMirror {
        margin-top: 0;
    }

    #{$prefix}preview {
        top: 0;
    }
}